* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #000;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navbar-nav .nav-item {
  color: #FFFFD6;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
.navbar-nav .nav-item img {
  padding: 1rem 1rem 1rem 3rem;
}
.navbar-nav .nav-item .place {
  border-left: 1px solid #fff;
  margin-left: 1rem;
  text-transform: capitalize;
  font-size: 15px;
}
.navbar-nav .nav-item .plc {
  border-left: 1px solid #fff;
  margin-left: 2rem;
}
.navbar-nav .nav-item button {
  background: #1A1A1A;
  color: #fff;
}
.navbar-nav .nav-item button i {
  font-size: 14px !important;
}
.navbar-nav .nav-item .nav-link i {
  font-size: 24px;
  margin-left: 1rem;
}

body {
  overflow-x: hidden;
}

.banner {
  height: 100%;
  background-image: url(../src/img/1011.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 4rem 0;
}
.banner img {
  margin-top: 2rem;
}
.banner h1 {
  margin-top: 1rem;
  color: #fff;
  font-size: 70px;
}
.banner .dis i {
  margin-right: 3px;
}
.banner .dis i ::before {
  border: 2px solid #000;
}
.banner .drop select {
  padding: 10px 6rem;
  margin: 1rem;
}
.banner .search {
  margin: auto;
}
.banner .search button:hover {
  background: #000;
}
.banner .search button h3 {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.banner .search button h3 a {
  color: #fff;
  text-decoration: none;
}

.housee ul {
  list-style: none;
}
.housee ul li {
  display: inline-block;
  padding: 16px;
}
.housee ul li a {
  text-decoration: none;
}

.itemss {
  margin-top: 7rem;
}
.itemss .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
}
.itemss .items .item {
  margin-top: 1rem;
}
.itemss .items .item .abs {
  border: 1px solid green;
  top: 0px;
  right: 0px;
  width: 90px;
  color: #fff;
}
.itemss .items .item::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: -1;
}
.itemss .items .item .bold {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.itemss .items .item:hover .bold {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  color: #fff;
}
.itemss .items .item:hover .bold a {
  color: #fff;
}
.itemss .items .item:hover::after {
  background: black;
  top: 1rem;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
.itemss .items img {
  width: 330px;
}
.itemss .items .bold {
  text-align: start;
}
.itemss .items .bold .hir {
  font-size: 24px;
  font-weight: 600;
}
.itemss .items .bold .hir a {
  text-decoration: none;
  color: #000;
}
.itemss .items .bold .hir a:hover {
  color: #2D8B7B;
}
.itemss .items .bold .fir {
  font-size: 16px;
}
.itemss .items .bold .pir {
  font-size: 16px;
}

.design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.design .wall {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: lightgrey;
  line-height: 26px;
}
.design .wall h1 {
  margin-top: 4rem;
  font-size: 32px;
  font-weight: 400;
  margin-left: 3rem;
}
.design .wall ul {
  margin-top: 1rem;
  margin-left: 3rem;
}
.design .wall ul li {
  list-style: none;
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 400;
}
.design .wall img {
  margin: 1rem 0 0 3rem;
}
.design .picture {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.design .picture img {
  width: 100%;
}

.description {
  margin-top: 5rem;
}
.description h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: -1px;
}
.description h1 {
  font-family: Roboto, sans-serif;
  margin-top: 10px;
}
.description .intro .demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0;
}
.description .intro .demo .def {
  margin-right: 22rem;
}

.end {
  color: #fff;
  text-align: center;
  background-color: #000;
}
.end h4 {
  margin: 3rem 0 1rem 0;
  font-size: 22px;
  font-weight: 500;
  color: #A3A395 !important;
}
.end .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.end .footer .one {
  margin-left: 2rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-bottom: 4rem;
}
.end .footer .one img {
  width: 100%;
  padding: 1rem 0;
}
.end .footer .one p {
  margin-top: 1rem;
  color: #A3A395;
}
.end .footer .two {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-bottom: 7rem;
  margin-left: 2rem;
}
.end .footer .two h3 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.end .footer .two .scc {
  margin-top: 1rem;
  margin-left: -30px;
}
.end .footer .two .scc li {
  list-style: none;
}
.end .footer .two .scc li a {
  color: #A3A395;
  text-decoration: none;
}
.end .footer .three {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-right: 5rem;
}
.end .footer .three h3 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 3rem;
  color: #e1e1e1;
}
.end .footer .three input {
  padding: 1rem 2rem;
}
.end .footer .three button {
  margin-left: 10px;
  padding: 1rem 2rem;
  border: 1px solid green;
}
.end .footer .three .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}
.end .footer .three .social li {
  list-style: none;
}
.end .footer .three .social li a {
  color: #A3A395;
  text-decoration: none;
  font-size: 22px;
  padding-right: 1rem;
}

.swp {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.swp .swww {
  overflow: hidden;
}
.swp .swww:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.swp .swww img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.swp .swww h3 {
  top: 50%;
  left: 50%;
  border: 1px solid black;
  background: #000;
  color: #fff;
  padding: 15px;
  width: 180px;
  font-size: 14px;
  -webkit-transform: translate(-55%, -55%);
          transform: translate(-55%, -55%);
}

.swp {
  background: #F6F3F3;
}
.swp .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 1rem;
}
.swp .list li {
  list-style: none;
}
.swp .list li h3 {
  font-size: 17px;
  margin-left: 1rem;
}
.swp .list li a {
  color: #000;
}
.swp .list li a i {
  margin-right: 10px;
}
.swp .list .lt {
  margin-right: 20rem;
}

.hLL {
  -webkit-animation: sss 15s linear infinite forwards;
          animation: sss 15s linear infinite forwards;
  font-size: 80px;
  margin-top: -4rem;
  font-weight: 400;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  color: #ededed;
}
@-webkit-keyframes sss {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes sss {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.feat {
  margin: 7rem 0 4.5rem 0;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.featured .imfa {
  top: -2.5rem;
  left: 25rem;
}
.featured .inform {
  line-height: 20px;
  margin-right: 5rem;
  margin-bottom: 9rem;
}
.featured .inform h4 {
  color: #e1e1e1;
  font-size: 39px;
  margin: 0;
  font-weight: 400;
}
.featured .inform h3 {
  font-size: 23px;
  margin-top: 1rem;
}
.featured .inform h5 {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000;
  margin-top: 2rem;
}
.featured .inform p {
  font-size: 13px;
  line-height: 1.3em;
  font-weight: 400;
}

.crcc {
  background: #F6F3F3;
}

.circus .cirt {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  height: 40px;
  padding: 3px;
  background: #000;
  color: #fff;
  top: 10px;
  left: 14rem;
}
.circus .cirt span {
  padding: 10px;
  font-size: 14px;
}
.circus img {
  margin: 0 3rem;
}
.circus h3 {
  margin-top: 3rem;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 17px;
  margin-left: 10px;
  text-align: center;
}
.circus p {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  text-align: center;
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5rem 2rem 3rem 2rem;
}
.people .imap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.people .impp {
  line-height: 25px;
  margin-left: 3rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.people .impp h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.15em;
}
.people .impp h2 {
  color: green;
  font-size: 20px;
  margin-bottom: 2rem;
}
.people .impp h1 {
  line-height: 1.3em;
  font-weight: 300;
  font-size: 47px;
  font-family: Roboto, sans-serif;
}
.people .impp p {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
}
.people .impp button {
  width: 200px;
}
.people .impp button h3 {
  font-size: 12px;
  line-height: 2em;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.room img {
  height: 200px;
  width: 310px;
}
.room h3 {
  border: 1px solid black;
  background: #000;
  color: #fff;
  font-size: 14px;
  height: 50px;
  left: 0px;
  top: 150px;
  width: 120px;
  padding: 10px;
  text-align: center;
}

.logo img {
  padding: 4rem 0;
}

.page {
  background-image: url(../src/img/2000.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 9rem 0;
}
.page h1 {
  font-size: 5rem;
  font-weight: 300;
  margin-top: 1rem;
}
.page p {
  font-size: 16px;
}

.ppage {
  background-image: url(../src/img/listt1.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  margin: auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 9rem 0;
}
.ppage h1 {
  font-size: 5rem;
  font-weight: 300;
  margin-top: 1rem;
}
.ppage p {
  font-size: 16px;
}

.expe img {
  width: 500px;
}

.agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 7rem;
}
.agent .imade {
  bottom: 0px;
  background: #000;
  color: #fff;
}
.agent .imade .imsss {
  list-style: none;
}
.agent .imade .imsss li {
  display: inline;
}
.agent .imade .imsss li a {
  color: #fff;
  padding: 10px;
}

.plrrr img {
  width: 100%;
}

.shpp img {
  width: 250px;
  height: 200px;
}

.shipp {
  top: 50px;
  left: 5rem;
}
.shipp h1 {
  font-family: Roboto, sans-serif;
  font-size: 47px;
  font-weight: lighter;
}
.shipp a {
  text-decoration: none;
  color: #000;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 4rem 0 4rem 6rem;
  background: #fff;
}
.product .ads {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
.product .ads .advt img {
  width: 100%;
}
.product .ads .advt .btstar {
  left: 11px;
  bottom: 75px;
  width: 220px;
}
.product .ads .advt .star {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .ads .advt .star h3 {
  font-size: 18px;
}
.product .ads .advt .star h3 a {
  color: #000;
  text-decoration: none;
}
.product .ads .advt .star h4 {
  font-size: 24px;
  color: green;
}
.product .ads i {
  color: green;
  font-size: 13px;
}
.product .cats {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 0 6rem 14rem 4rem;
  background: #FFFFFF;
}
.product .cats h1 {
  font-size: 22px;
  padding: 10px;
}
.product .cats ul {
  list-style: none;
  margin-top: 10px;
}
.product .cats ul a {
  text-decoration: none;
  color: #000;
  line-height: 2rem;
  font-weight: 500;
}

.lamppp {
  width: 80px;
  margin-left: 1rem;
}

.ltcat {
  margin-left: 1rem;
}
.ltcat h5 {
  font-size: 14px;
  font-weight: 500;
}
.ltcat a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.ltcat h3 {
  font-size: 14px;
  color: #888;
}

.gstar {
  color: green;
  font-size: 14px;
}

.absblog {
  padding: 19px;
  right: 0px;
  top: 0px;
  font-size: 18px;
  color: #fff;
  background: #000;
}

.blogrr a {
  font-size: 14px;
}

.blfr {
  width: 200px;
  margin-left: 1.5rem;
}

.comit {
  list-style: none;
  margin-left: 25rem;
}
.comit li i {
  color: #000 !important;
  margin: 1rem !important;
}

.comment h3:hover,
.comment h1:hover {
  color: green;
}

.blurbck {
  height: 250px;
  background-color: #1A1A1A;
  background-image: url(../src/img/backblur.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  width: 750px;
  margin: auto;
  background-repeat: no-repeat;
}
.blurbck .bh2 {
  margin: 5rem 2rem 1rem 3rem;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
}

.bdbd {
  color: #fff;
  background: #000;
  padding: 16px;
  font-size: 15px;
  right: 0px;
  top: 0px;
}

.bade {
  top: 0px;
  left: 0px;
  background: rgb(5, 95, 5);
}
.bade i {
  color: #fff !important;
  font-size: 15px;
  margin: 14px;
}

.boti {
  width: 300px;
  margin-right: 3rem;
  font-size: 12px;
  padding: 12px;
}

.ltlog {
  margin-right: 5rem;
}
.ltlog p {
  font-size: 12px;
}
.ltlog a {
  margin-right: 6rem !important;
}

::-webkit-input-placeholder {
  padding: 10px;
  font-size: 14px;
}

::-moz-placeholder {
  padding: 10px;
  font-size: 14px;
}

:-ms-input-placeholder {
  padding: 10px;
  font-size: 14px;
}

::-ms-input-placeholder {
  padding: 10px;
  font-size: 14px;
}

::placeholder {
  padding: 10px;
  font-size: 14px;
}

.rage {
  width: 300px;
}

.mrit {
  margin-right: 6rem;
}

.checkbox {
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.checkbox h5 {
  margin-top: 5px;
  width: 110px;
  font-size: 14px !important;
}
.checkbox h6 {
  margin-top: 5px;
  width: 180px;
  font-size: 14px !important;
}

.formpp {
  left: 28rem;
  top: 2rem;
  width: 380px;
  height: 480px;
}

.reset .bott {
  font-size: 12px;
  width: 180px;
  line-height: 2em;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 3px;
}

.content .cont {
  margin-left: 6rem;
  width: 700px;
}
.content .cont,
.content .country {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 600px;
}

.hrhr {
  width: 180px !important;
  font-size: 12px;
  padding: 6px;
}

.share {
  list-style: none;
  margin-left: -30px;
}
.share a {
  text-decoration: none;
  color: #000;
}

.ltitle .log,
.ltitle .reg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 18px !important;
  text-align: center;
  padding: 12px;
}

.ddd h4,
.ddd h5 {
  font-size: 14px;
  text-transform: capitalize;
}

.count {
  border: 2px solid #000;
  height: 50px;
  text-align: center;
  padding: 10px;
}

.clkkk button {
  height: 50px;
  width: 30px;
}

.btbtt {
  width: 210px !important;
}

.btn1 {
  padding: 7px;
  background: #262626;
  color: #fff;
}
.btn1:hover {
  background: #2D8B7B;
}

.modal-header {
  height: 55px;
  width: 400px;
}
.modal-header .lglg {
  margin-left: -16px;
}
.modal-header .rgrg {
  margin-right: -16px;
}
.modal-header .lglg,
.modal-header .rgrg {
  width: 200px;
}
.modal-header .lglg h3,
.modal-header .rgrg h3 {
  padding: 6px !important;
}

.modal-body .iii {
  height: 40px;
}
.modal-body .iijj {
  height: 7rem;
}

.modal-content {
  width: 400px;
}

.modal-footer i {
  font-size: 40px;
}

.byyy {
  width: 350px;
  margin-right: 60px;
}

.ghgh {
  margin-left: -16px;
  width: 200px;
}

.pepe img {
  width: 200px;
  height: 200px;
}

.oor {
  margin-top: 2rem;
  margin-left: 2rem;
}

.ooorr h4 {
  width: 220px;
  padding: 12px;
  font-size: 17px;
}
.ooorr .sorr {
  list-style: none;
  margin-left: -45px;
  margin-top: 1rem;
}
.ooorr .sorr a {
  color: #4e5453;
}

.loadd {
  width: 200px;
  margin: 3rem 15rem;
  text-transform: uppercase;
  height: 50px;
}

.bro p {
  margin-top: -27px;
}

.blast {
  color: #454540;
}
.blast li {
  list-style: none;
}
.blast li a {
  text-decoration: none;
  color: #454540;
}

.pppp {
  top: -10px;
  right: -8px;
  font-size: 18px;
  color: #6c6f77;
}

.shoow {
  width: 345px;
  height: 47px;
}

.shiww {
  margin-left: -16px;
}

.shinn {
  height: 56px;
  width: 55px;
  margin-right: -15px;
}

.specif .spaa {
  margin-top: 22rem;
}

.price h3 {
  width: 350px;
}

.table {
  height: 250px;
}

.scroll {
  position: fixed;
  left: 90%;
  bottom: 30px;
  height: 45px;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
  color: green;
}/*# sourceMappingURL=Style.css.map */